extends layout

block additionalStyles

    style(type="text/css")
        | .jumbotron{ background-image: url('http://festivalfire.com/wp-content/uploads/VioletVisions-LF16-people6-1024x681.jpg'); background-size: cover; color:white; background-position: center 55%}

block content
    .jumbotron.text-center.mt-5.bg-secondary
        h1.display-4.font-weight-bold Help each other out
        p.lead
            | Share the energy and help with others
    .container.mt-5
        h2.text-center Question
        hr
        .row
            .col-md-4.text-left
                .userDetails
                    h3 #{question.user.username}
                    h5.font-italic #{question.user.firstName} #{question.user.lastName}
                    p 
                        strong Posted:
                        span    #{formatDate(question.createdAt)}
            .col.text-center
                h3.mb-4.font-weight-bold #{question.questionText}
                p #{question.description}
        hr
        if(question.answers.length === 0)
            h3.text-center There are no answers for this question as of yet

        else
            h2.text-center Answers
            hr
            each answer in question.answers
                .row
                    .col-md-3
                    .col-md-2
                        a(href=`/festivals/${festival.name}/questions/${question._id}/answers/${answer._id}/vote-up`)
                            button.btn.btn-primary.btn-block.font-weight-bold(type='submit') Vote up
                    .col-md-2.text-center
                        h1 #{answer.votes}
                    .col-md-2
                        a(href=`/festivals/${festival.name}/questions/${question._id}/answers/${answer._id}/vote-down`)
                                button.btn.btn-primary.btn-block.font-weight-bold(type='submit') Vote down
                    .col-md-3
                .row.mt-3
                    .col-md-4.text-left
                        .userDetails
                            h3 #{answer.user.username}
                            h5.font-italic #{answer.user.firstName} #{answer.user.lastName}
                            p 
                                strong Posted:
                                span    #{formatDate(answer.createdAt)}
                    .col.text-center
                        h5.mb-4.font-weight-bold #{answer.answerText}
                hr
        .row
            if !currentUser
                .col-md-12.mb-4
                    h3.text-center Want to give an answer? Just sign up!
                .col-md-6
                        a(href='/users/register')
                            button.btn.btn-primary.btn-lg.btn-block(type='button') Sign Up
                .col-md-6
                        a(href='/users/login')
                            button.btn.btn-primary.btn-lg.btn-block(type='button') Login
            else
                .col-md-6.mx-auto.mt-4
                    button.btn.btn-primary.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#exampleModal') Give an answer
        hr.my-5
    #exampleModal.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title ANSWER
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form(action=`/festivals/${festival.name}/questions/${question._id}/answers`, method='POST')
                        .form-group
                            label(for='answerText') Answer details:
                            textarea#name.form-control(type='text', name='answerText')  
                        hr
                        button.btn.btn-primary.btn-block(type='submit') Submit answer