extends layout.pug

block additionalStyles
    style(type="text/css")
        | .jumbotron{ background-image: url('https://s3-eu-west-1.amazonaws.com/kobra-web/swedenrock/image/large/SRF_publik_035_2.jpg'); background-size: cover; color:white; background-position: center 40%}

block content
    .jumbotron.text-center.mt-5.bg-secondary
        h1.display-4.font-weight-bold Festivals
        p.lead
            | The feeling that keeps us moving
    h1#speakers.display-4.text-center.my-5.text-muted Find your festival
    #searchBar.container.mt-3.mb-5
        .row
            .col-md-6.mx-auto
                #custom-search-input
                    form(action='/festivals/search', method='GET')
                        .input-group.col-md-12
                            input.form-control.input-lg(type='text', placeholder='Search..', name='searchQuery')
                            span.input-group-btn
                                button.btn.btn-secondary.btn-lg(type='submit')
                                    img(src="/static/images/magnifier.png", alt="Magnifying glass")
                                
    #festivalCards.container.mb-5
        .row
            each festival in festivals
                .col-md-4
                    .card.mb-4.shadow-sm
                        img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', alt='Festival image', style='height: 225px; width: 100%; display: block;', src=`${festival.thumbnailImage}`, data-holder-rendered='true')
                        .card-body
                            h3.text-center #{festival.name}
                            p.card-text
                                | #{festival.shortDescription}
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    a(href=`/festivals/${festival.name}`)
                                        button.btn.btn-sm.btn-outline-secondary(type='button') See More
                                small.text-muted #{festival.location}, #{festival.country}
            