extends layout

block additionalStyles

    style(type="text/css")
        | .jumbotron{ background-image: url('#{festival.jumbotronImage}'); background-size: cover; color:white; background-position: center 20%}

block content
    .jumbotron.text-center.mt-5.bg-secondary
        h1.display-4.font-weight-bold #{festival.name}
        p.lead.font-weight-bold
            | #{festival.longDescription}
    #photos.container
        .album.bg-light
            h2.font-weight-bold.text-center.mb-4 See for yourself
            .row
                each photo in festival.photos
                    .col-md-4
                        .card.mb-4.shadow-sm
                            img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', alt='Festival image', style='height: 225px; width: 100%; display: block;', src=`${photo.url}`, data-holder-rendered='true')
        hr
    #weather.container.my-4
        h2.font-weight-bold.text-center.mb-4 Prepare yourself
        h2.font-weight-bold.text-center.mb-4 Weather info should go here
        hr

    #questions.container.mb-4
        h2.font-weight-bold.text-center.mb-4 Find out what you need
        ul#schedule.list-group.mb-4
            each question in questions
                li.list-group-item
                    .d-flex.justify-content-between
                        h5 #{question.user.firstName} #{question.user.lastName}
                        a(href=`${festival.name}/questions/${question._id}`)
                            h5 #{question.questionText}
                        span.badge.badge-pill.badge-info.font-weight-bold #{question.answers.length}
                            |
                            | Answers
                    p #{question.user.username}
        if !currentUser
            h3.text-center You can also ask anything you want to know, just sign up log in!
            .row
                .col-md-6
                    a(href='/users/register')
                        button.btn.btn-primary.btn-lg.btn-block(type='button') Sign Up
                .col-md-6
                    a(href='/users/login')
                        button.btn.btn-primary.btn-lg.btn-block(type='button') Login
        else
            .row
                .col-md-6.mx-auto
                    button.btn.btn-primary.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#exampleModal') Ask a question
        hr.my-5
    #exampleModal.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title QUESTION
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form(action=`/festivals/${festival.name}`, method='POST')
                        .form-group
                            label(for='questionText') Ask a question:
                            input#name.form-control(type='text', placeholder='Title of your question', name='questionText')  
                        .form-group
                            label(for='description') Questions details:
                            textarea#name.form-control(type='text', name='description')  
                        .form-group
                            label(for='topic') Topic:
                            select#role.form-control(name='topic')
                                option(value='Accomodation') Accomodation
                                option(value='Tickets') Tickets
                                option(value='Vibe') Vibe
                                option(value='Vibe') Other
                        hr
                        button.btn.btn-primary.btn-block(type='submit') Submit question
                
    

