extends layout.pug

block additionalStyles
  style(type="text/css")
    | .jumbotron{ background-image: url('http://www.airforcefestival.com/wp-content/uploads/2017/10/21993093_1329727370488774_6498658425583426378_o-1024x576.jpg'); background-size: cover; color:white; background-position: center 65%}

block content
  .jumbotron.jumbotron-fluid.bg-info.text-white
    .container.text-sm-center.pt-5
      h1.display-3.font-weight-bold Festival Helper
      p.lead A guide to festival people, from festival people. Hope you enjoy
      .btn-group.mt-4(role='group', aria-label='Callout buttons')
        a(href='/users/register')
          button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#register') Register now
        a.btn.btn-light.btn-lg(href='#speakers') Festivals
  #about.container.pt-2
    .row
        .col-lg.order-lg-2
          h3.mb-4 Why?
          p
            | We're very passionate about festivals, and have had are up and down experiences over the years, and we wanted to help others not fall in the same pitfalls
          p
            | This is our way of trying to make the festival experience of others much better
        .col-lg.order-lg-1
          h3.mb-4 What is Festival Guide?
          p
            | A journey never ends for true festival people, and we are here to help you with choosing your next adventure
          p
            | Here you can post questions about your favorite festivals, get help and help out other adventure seekers
          p
            | Apart from preparing for the next festival, you could find your adventure partners right here!
    h1#speakers.display-4.text-center.my-5.text-muted Find your groove
    .album.bg-light
    .row
      each festival in festivals
        .col-md-4
          .card.mb-4.shadow-sm
            img.card-img-top(data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail', alt='Festival image', style='height: 225px; width: 100%; display: block;', src=`${festival.thumbnailImage}`, data-holder-rendered='true')
            .card-body
              h3.text-center #{festival.name}
              p.card-text
                | #{festival.shortDescription}
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  a(href=`/festivals/${festival.name}`)
                    button.btn.btn-sm.btn-outline-secondary(type='button') See More
                small.text-muted #{festival.location}, #{festival.country}
    a(href='/festivals')
      button.btn.btn-primary.btn-block(type='button') See all festivals
    hr
    a(href='/users/register')
      button.btn.btn-outline-info.btn-lg.d-block.mx-auto.my-5(type='button') Sign Up Now!


  include includes/footer.pug

              