extends layout

block content
    .jumbotron.text-center.mt-5.bg-secondary
        h1.display-4 Help each other out
        p.lead
            | Share the energy and help with others
    .container.mt-5
        h2.text-center Question
        .row.border.border-dark.p-3
            .col-md-6.text-center
                .userDetails
                    p #{question.user.firstName} #{question.user.lastName}
                    span #{question.user.username}
                    span #{question.createdAt}
            .col-md-6.text-center
                p.font-weight-bold #{question.questionText}
                p #{question.description}
        hr
        if(question.answers.length === 0)
            h3.text-center There are no answers for this question as of yet

        else
            h2.text-center Answers
            each answer in question.answers
                .row
                    .col-md-2
                    .col-md-3
                        a(href=`/festivals/${festival.name}/questions/${question._id}/answers/${answer._id}/vote-up`)
                            button.btn.btn-primary.btn-lg.btn-block(type='submit') Vote up
                    .col-md-2.text-center
                        p #{answer.votes}
                    .col-md-3
                        a(href=`/festivals/${festival.name}/questions/${question._id}/answers/${answer._id}/vote-down`)
                                button.btn.btn-primary.btn-lg.btn-block(type='submit') Vote down
                    .col-md-2
                .row.mt-3
                    .col-md-4
                        p #{answer.user.firstName} #{answer.user.lastName}
                    .col-md-8
                        p #{answer.answerText}
                hr
        .row
            .col-md-6.mx-auto.mt-4
                button.btn.btn-primary.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#exampleModal') Give an answer
        hr.my-5
    #exampleModal.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title ANSWER
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form(action=`/festivals/${festival.name}/questions/${question._id}/answers`, method='POST')
                        .form-group
                            label(for='answerText') Answer details:
                            textarea#name.form-control(type='text', name='answerText')  
                        hr
                        button.btn.btn-primary.btn-block(type='submit') Submit answer